body {
    background-image: linear-gradient(white,rgb(63, 191, 241));
}

#portfolioBlock {
    /* NEEDED THESE SO THAT EXPANDING THE CARD WOULDNT PUSH THESE DOWN*/
    height: 99rem;
}

#portfolioRow {
    margin-top: 6rem;
}

.types {
    position: relative;
    top: -7rem;
    left: 7rem;
}

#col1, #col2, #col3 {
    position: relative;
}

#sortButton {
    position: relative;
    right: 0px;
}

#aboutBlock, #portfolioBlock, #contactBlock {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#commentOpen {
    position: fixed;
    right: 3%;
}

#commentBox {
    width: 15%;
    position: fixed;
    right: 10px;
    background-color: white;
    border: 1px solid black;
}

footer {
    margin-top: 6rem;
}

#commentInstructions {
    margin-top: 6rem;
}

#textarea2, #commentInstructions{
    width: 14rem !important;
}

.topText {
    color:black
}

nav {
    background-image: linear-gradient(rgb(63, 191, 241), rgb(75, 158, 253)) !important;
}
#kensen {
    color:black !important;
    font-family: 'Ibarra Real Nova', serif;
    
}

.hidden {
    opacity: 0;
}

#aboutBlock {
    height: 24rem;

}

#contactBlock {
    /* NEEDED positioning of these SO THAT EXPANDING THE CARD WOULDNT PUSH THESE DOWN*/
    height: 40rem;
    position: relative;
}

#contactMe {
    /* NEEDED positioning of these SO THAT EXPANDING THE CARD WOULDNT PUSH THESE DOWN*/
    position: absolute;
    vertical-align: top;
    top:0px;
}

.activator {
    height: 200px;
    width: 100%;
}

.thumbnail {
    min-width: 280px;
    height: 280px;
    position: relative;
    left: 100px;
    bottom: 80px;
    border-style: hidden;
    border-width: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
}




.deflate {
    -webkit-animation: deflate 0.5s;
    width: 280px;
    height: 280px;
    -webkit-transform: translate(0px, 0px);
}

.fade {
    -webkit-animation: fade 0.5s;
    filter: brightness(80%);
}

.brighten{
    -webkit-animation: brighten 0.5s;
    filter: brightness(100%);
}

.flyInLeft {
    -webkit-animation: flyInLeft 1s;
    opacity: 1;
}

@-webkit-keyframes flyInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate(-100px, 0px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        opacity: 1;
    }
}

span {
    height: 20px !important;
}

.flyInRight {
    -webkit-animation: flyInRight 1s;
    opacity: 1;
}

@-webkit-keyframes flyInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate(100px, 0px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        opacity: 1;
    }
}

@-webkit-keyframes flyInTop {
    0% {
        opacity: 0;
        -webkit-transform: translate(0px, -100px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        opacity: 1;
    }
}

.flyInTop {
    -webkit-animation: flyInTop 1s;
    animation-delay: 1s;
    opacity: 1;
}

@-webkit-keyframes fade {
    0% {
        filter: brightness(100%);
    }

    100% {
        filter: brightness(80%);
    }
}

@-webkit-keyframes brighten {
    0% {
        filter: brightness(80%)
    }

    100% {
        filter: brightness(100%);
    }
}

.enlarge {
    -webkit-animation: enlarge 0.5s;
    width: 310px;
    height: 310px;
    -webkit-transform: translate(-5px, -10px);
}

@-webkit-keyframes enlarge {
    0% {
      width: 280px;
      height: 280px;
      -webkit-transform: translate(0, 0px);
    }

    100% {
        width: 310px;
        height: 310px;
      -webkit-transform: translate(-5px, -10px);
    }
}


.scaleup {
    -webkit-animation: scaleup 0.5s;
    transform: scale(1.1, 1.1);
}

@-webkit-keyframes scaleup {
    0% {
      
      transform: scale(1, 1);
    }

    100% {
       transform: scale(1.1, 1.1);
    }
}

@-webkit-keyframes deflate {
    0% {
        -webkit-transform: translate(-10px, -10px);
      
    }

    100% {
        width: 280px;
        height: 280px;
        -webkit-transform: translate(0, 0px);
    }
}

#myImage {
    width: 250px !important;
    height: 250px !important;
    position:relative;
    border: 10px solid white
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.row:not(.not) {
    margin-top: 15rem;
}

#yellow {
    width: 10px;
    height: 10px;
    background: yellow;
    border: 1px solid yellow;
    -webkit-animation: test 1s infinite;  
    -webkit-animation-delay: 0.1s;
}
#blue {
    width: 10px;
    height: 10px;
    background: blue;
    border: 1px solid blue;
    -webkit-animation: test 1s infinite;
    -webkit-animation-delay: 0.3s;  
}
#red {
    width: 10px;
    height: 10px;
    background: red;
    border: 1px solid red;
    -webkit-animation: test 1s infinite;
    -webkit-animation-delay: 0.7s;   
}
#green {
    width: 10px;
    height: 10px;
    background: green;
    border: 1px solid green;
    -webkit-animation: test 1s infinite;  
    -webkit-animation-delay: 0.5s;
}


#bg-for-circles {
    background-color: white;
    position:relative;
}

#transparent {
    position:relative;
    color: rgba(255, 255, 255, 0.5);
    top:68px;
}

@-webkit-keyframes test {
    0% {
      opacity: 1;
  
      -webkit-transform: translate(0, 0px);
    }
    30% {
      
      
    }
    50% {
    }
    75% {
  
      
    }
    100% {
      opacity: 0.8;
        
      -webkit-transform: translate(600px, 0px);
    }
}